.main-navigation {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	background-color: #fff;
	@media screen and (min-width: $tabwidth) {
		clear: none;
		width: auto;
		

	}
	@media screen and (min-width: $deskwidth) {
		text-align: left;
	}
	.menu {
		@include transition(all ease 1s);
		overflow: hidden;
		display: block;
	}
	&.toggled .menu {
		max-height: 1000px;
	}
	.menu {
		max-height: 0;
		@media screen and (min-width: $tabwidth) {
			max-height: 1000px;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@media screen and (min-width: $tabwidth) {
			display: flex;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
				@media screen and (min-width: $tabwidth) {
		
				}
				@media screen and (min-width: $deskwidth) {
					
				}
			}


			a {
				width: 200px;
				@media screen and (min-width: $tabwidth) {
		
				}
				@media screen and (min-width: $deskwidth) {
					
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		position: relative;
		text-align: center;
		display: inline-block;
		hyphens: none;
		padding: 0 ;
		text-transform: uppercase;
		font-family: $font-heading;
		font-weight: 300;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			border-left: 1px solid #000;
			line-height: 3;
			width: auto;
			// padding: 0 20px;
			&:first-of-type {
				border: 0;
			}
		}
		@media screen and (min-width: $deskwidth) {
			// padding: 0 30px;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		// align-items: center;
		text-decoration: none;
		padding: 10px 0px;
		color: #000;
		@include transition(all ease .4s);
		@media screen and (min-width: $tabwidth) {
			padding: 0% 20px;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 0% 30px;
		}
		&:hover {
			background-color: rgba(#fff, 1);
			color: $color-black;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		// display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color: #ccc;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
